<div class="container">
  <% articulos.forEach(element => { %>
  <a class="nounderline" href="/articulo?articuloID=<%- element.id %>">
    <div class="row border border-primary nounderline rounded mb-3 mt-3 p-3">
      <div class="col-4">
        <div class="titleArticulo">
          <%- element.titulo %> - Articulo nro: <%- element.id %>
        </div>
        <div class="autor">
          Autor: <%- element.user.firstName %> <%- element.user.lastName %>
        </div>
        <div class="mailAutor">Email: <%- element.user.email %></div>
      </div>
      <div class="col-5 d-flex justify-content-center align-items-center">
        <div class="contenido">
          <%- element.contenido.substring(0,150) %>...

        </div>
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <img class="img-thumbnail border-primary" src="<%- element.avatar %>" alt="" width="200"
          height="200" />
      </div>
    </div>
  </a>
  <% }) %>
</div>