<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>

<body>
  
  <!-- EAADYk8c4fiEBAAbOJG4VqIuwgcZBUiAkmGUf8ifO1Pjdb7VKqheRX8hDSuQcEGrEJ9xZAk4BGXBGD4EiOZBOX85Idli9M6ZB1LevI4HjziJz5Bp39QZAwjBO5Y8fY2o6shMBEIvKwfjeMBnixg68RNo7cARSwu7GVhxGMfTo1bQZDZD
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '238129214160417',
      cookie     : true,
      xfbml      : true,
      version    : 'bfa9f883f79b05b502b343694d469d93'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->


  <%- include("partials/navbar", { login: true }) %>
  <div class="container mt-5">
    <% articulos.forEach(element => { %>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row border border-primary p-2 mb-3 rounded">
          <div class="col-1 d-flex justify-content-center align-items-center"><img
              class="img-thumbnail border-primary" src="<%- element.avatar %>" alt="" width="200"
              height="200" /></div>
          <div class="col-8 pl-4">
            <div class="row small text-secondary">
              Articulo nro: <%- element.id %>
            </div>
            <div class="row h5 "><%- element.titulo %></div>
            <div class="row pl-2"><%- element.contenido.substring(0,100) %>...</div>
          </div>
          <div class="col-3 d-flex justify-content-between align-items-center">
            <a class="btn btn-success" href="/articulo?articuloID=<%- element.id %>">
              Ver</a>
            <a class="btn btn-warning"
              href="/modificararticulo?articuloID=<%- element.id %>"> Editar </a>
            <a class="btn btn-danger" href="/borrararticulo?articuloID=<%- element.id %>">
              Borrar
            </a>
          </div>
        </div>

      </div>
      <div class="col-1"></div>
    </div>
    <% }) %>
  </div>
  <div><%- include("partials/footer") %></div>
</body>

</html>