<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>

<body>
  <%- include("partials/navbar", { login: true }) %>
  <div class="container mt-5">
    <div class="row border border-primary rounded p-3 mb-5">
      <div class="col-9">

        <div class="">
          <div class="titleArticulo">
            <%- articulo.titulo %> - Articulo nro: <%- articulo.id %>
          </div>
          <div class="contenido"></div>

          <div class="autor">Autor: <%- articulo.user.firstName %> <%- articulo.user.lastName %></div>
          <div class="mailAutor">Email: <%- articulo.user.email %></div>
        </div>
      </div>
      <div class="col-3 mt-4 justify-content-center align-items-center">
        <img class="img-thumbnail border-primary" src="<%- articulo.avatar %>" alt="" width="200"
          height="200" />
      </div>

    </div>

  </div>
  <div><%- include("partials/footer") %></div>


</body>

</html>