<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>

<body>

  <%- include("partials/navbar", { login: true }) %>


    <div class="row">
      <div class="col-12"><%- user %> <%- email %>   <%- generatedToken %>  </div>
    </div>




  <div><%- include("partials/footer") %></div>
</body>

</html>